/.doit.db
/build
/cache
/dist
/docs/**/.drawio
/node_modules
/src_py/**/*.dll
/src_py/**/*.dylib
/src_py/**/*.pyd
/src_py/**/*.so
/src_py/**/asn1_repo.json
/src_py/**/json_schema_repo.json
/src_py/**/sbs_repo.json
/yarn-error.log
__pycache__
