binutils-mingw-w64-x86-64
clang
doxygen
gcc
gcc-mingw-w64-x86-64
git
graphviz
libffi-dev
libisoburn-dev
libjansson-dev
libuv1-dev
libyaml-dev
nodejs
npm
openssl
pandoc
plantuml
python
python-pip
samba
socat
sqlite
unixodbc
yarn
