@import '~normalize.css/normalize';

@import '../../common/grid';
@import '../../common/fonts/roboto';
@import '../../common/fonts/fontawesome';


html, body {
    margin: 0px;
    font-family: 'Roboto';
}

.monitor {
    max-width: 960px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    table {
        @extend table.grid;

        th.col-name {}
        th.col-group { width: 150px; }
        th.col-address { width: 150px; }
        th.col-local { width: 70px; }
        th.col-blessing { width: 70px; }
        th.col-ready { width: 70px; }
        th.col-rank { width: 120px; }

        td.col-local { text-align: center; }
        td.col-blessing { text-align: right; }
        td.col-ready { text-align: right; }
        td.col-rank {
            & > * {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    margin: 0px 2px;
                }
            }
        }
    }
}
