@import '../src_scss/common/color';

html, body {
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

body {
    max-width: 960px;
    padding: 1rem;
    margin: 0 auto;
}

code, pre {
    font-family: Consolas, Liberation Mono, Menlo, monospace;
}

pre {
    background-color: $color-grey-300;
    padding: 0.5em;
    margin: 0.5em;
}

.warning {
    background-color: $color-grey-300;
    padding: 1em;
}

header {
    nav {
        & > * {
            padding-left: 0.5em;
        }
    }
}

footer {
    margin-top: 1em;
    font-size: 0.75em;
    text-align: center;
}
