@import './common';


#main {
    & > .page {
        &.event {
            display: flex;
            flex-direction: column;

            & > .header {
                display: flex;
                align-items: center;
                padding: 0.2rem;
                border-bottom: 1px solid $color-grey-700;

                & > .menu {
                    display: flex;

                    & > * {
                        margin-right: 0.2rem;
                        padding: 0.2rem 0.5rem;
                        border-radius: 0.2rem;

                        &.selected, &:hover {
                            color: $color-grey-100;
                            background-color: $color-grey-700;
                        }
                    }
                }

                & > .spacer {
                    flex-grow: 1;
                }

                & > .form {
                    display: flex;
                    align-items: center;

                    & > * {
                        &:not(:last-child) {
                            margin-right: 0.2rem;
                        }
                    }
                }
            }

            & > .subpage {
                flex-grow: 1;
                overflow: auto;

                &.latest, &.changes {
                    & > table {
                        @extend %table;

                        th {
                            &.col-type { width: 25rem; }
                            &.col-id { width: 5rem; }
                            &.col-timestamp { width: 13rem; }
                        }

                        td {
                            &.col-id { text-align: right; }
                            &.col-timestamp { text-align: center; }
                        }

                        .expand-icon {
                            padding: 5px;
                            color: $color-grey-700;
                        }
                    }
                }

                &.register {
                    padding: 0.5rem;
                    display: grid;
                    grid-gap: 0.5rem;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: auto auto 1fr;
                    grid-template-areas: 'text sourceTimestamp'
                                         'text register'
                                         'text .';

                    & > .source-timestamp {
                        grid-area: sourceTimestamp;
                    }

                    & > .text {
                        grid-area: text;
                        resize: none;
                    }

                    & > .register {
                        grid-area: register;
                    }
                }
            }
        }
    }
}
