@import './common';

@import './orchestrator';
@import './monitor';
@import './event';
@import './iec104';
@import './modbus';


html, body {
    margin: 0;
    font-family: 'Inter';
    user-select: none;
    height: 100%;
    overflow: hidden;
    font-size: 12pt;
}

#main {
    height: 100%;
    background-color: $color-grey-200;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto 1fr 10rem;
    grid-template-areas: 'globalHeader deviceHeader'
                         'sidebar page'
                         'log log';

    & > .header {
        padding: 0.2rem;
        background-color: $color-grey-700;
        color: $color-grey-100;

        & > button {
            &:not(:last-child) {
                margin-right: 0.2rem;
            }
        }

        &.global {
            grid-area: globalHeader;
        }

        &.device {
            grid-area: deviceHeader;

            & > * {
                &:not(button) {
                    margin-right: 1rem;
                }
            }
        }
    }

    & > .sidebar {
        @include shadow-4dp;
        grid-area: sidebar;
        border-right: 1px solid $color-grey-400;
        background-color: $color-grey-100;
        display: flex;
        flex-direction: column;
        resize: horizontal;
        overflow: hidden;
        min-width: 10rem;

        & > .devices {
            flex-grow: 1;
            overflow: auto;

            & > .device {
                padding: 0.5rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:hover, &.selected {
                    background-color: $color-grey-300;
                }

                & > .status {
                    margin-right: 0.5rem;

                    &.stopped {
                        color: red;
                    }

                    &.starting, &.stopping {
                        color: yellow;
                    }

                    &.started {
                        color: green;
                    }
                }

                & > .type {
                    color: $color-grey-600;
                }
            }
        }

        & > .add {
            margin: 0.5rem;
        }
    }

    & > .page {
        grid-area: page;
        overflow: auto;
    }

    & > .log {
        @include shadow-4dp;
        grid-area: log;
        border-top: 1px solid $color-grey-400;
        background-color: $color-grey-100;
        overflow: auto;

        & > table {
            @extend %table;

            .col-time {
                width: 15rem;
                text-align: center;
            }

            .col-message {
                text-align: left;
            }
        }
    }

    & > .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;

        & > .dialog {
            @include shadow-4dp;
            border: 1px solid $color-grey-500;
            border-radius: 0.2rem;
            background-color: $color-grey-100;
            padding: 0.5rem;

            &.add {
                display: flex;
                flex-direction: column;

                & > * {
                    &:not(:last-child) {
                        margin-bottom: 0.5rem;
                    }
                }
            }

            &.settings {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 0.5rem;
                align-items: center;

                & > .title {
                    grid-column: span 2;
                    background: $color-grey-700;
                    color: $color-grey-100;
                    padding: 0.2rem;
                }

                & > .label {
                    justify-self: end;
                }

                & > .note {
                    grid-column: span 2;
                    color: $color-grey-700;
                    justify-self: end;
                }
            }
        }
    }
}


