@import './common';


#main {
    & > .page {
        &.modbus {
            display: flex;
            flex-direction: column;

            & > .properties {
                padding: 0.2rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, 10rem 8rem);
                grid-gap: 0.2rem;
                align-items: center;

                & > .label {
                    justify-self: end;
                }
            }

            & > .action {
                border-top: 1px solid $color-grey-700;
                padding: 0.2rem;
                display: flex;
                align-items: stretch;

                & > .form {
                    flex-grow: 1;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 8rem 12rem);
                    grid-gap: 0.2rem;
                    align-items: center;

                    & > label {
                        justify-self: end;
                    }
                }

                & > button {
                    margin-left: 0.2rem;
                }
            }

            & > .data {
                flex-grow: 1;
                overflow: auto;

                & > table {
                    @extend %table;

                    th {
                        &.col-timestamp { width: 13rem; }
                        &.col-str { width: 10rem; }
                        &.col-int { width: 5rem; }
                        &.col-remove { width: 4.5rem; }
                    }

                    td {
                        &.col-remove { text-align: center; }
                    }

                    & > tbody {
                        & > tr {
                            &.selected, &:hover {
                                background-color: $color-grey-400;
                            }
                        }
                    }
                }

                & > .control {
                    padding: 0.2rem;
                    display: flex;
                    justify-content: flex-end;
                }
            }

            & > .panel {
                padding: 0.2rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, 12rem 12rem);
                grid-gap: 0.2rem;
                align-items: center;
                border-top: 1px solid $color-grey-700;
                margin-top: 0.2rem;

                & > .label {
                    justify-self: end;
                }
            }
        }
    }
}
