@import './common';


#main {
    & > .page {
        &.monitor {
            display: flex;
            flex-direction: column;

            & > .header {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0.2rem;

                & > * {
                    &:not(:last-child) {
                        margin-right: 0.2rem;
                    }
                }
            }

            & > .components {
                flex-grow: 1;
                overflow: auto;

                table {
                    @extend %table;

                    th {
                        &.hidden { padding: 0; }
                        &.col-id { width: 5rem; }
                        &.col-group { width: 10rem; }
                        &.col-address { width: 15rem; }
                        &.col-blessing { width: 5rem; }
                        &.col-ready { width: 5rem; }
                        &.col-rank { width: 8rem; }
                    }

                    td {
                        &.col-id { text-align: center; }
                        &.col-blessing { text-align: center; }
                        &.col-ready { text-align: center; }

                        &.col-rank {
                            text-align: center;

                            & > div {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                button {
                                    margin: 0 0.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
