@import './common';


#main {
    & > .page {
        &.orchestrator {
            display: flex;
            flex-direction: column;

            & > .header {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0.2rem;

                & > * {
                    &:not(:last-child) {
                        margin-right: 0.2rem;
                    }
                }
            }

            & > .components {
                flex-grow: 1;
                overflow: auto;

                table {
                    @extend %table;

                    th {
                        &.col-delay { width: 5rem; }
                        &.col-revive { width: 5rem; }
                        &.col-status { width: 8rem; }
                        &.col-action { width: 5rem; }
                    }

                    td {
                        &.col-delay { text-align: right; }
                        &.col-revive { text-align: center; }
                        &.col-status { text-align: center; }

                        &.col-action {
                            text-align: center;

                            button {
                                margin: 0 0.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
