@import '~normalize.css/normalize';

@import '../../common/color';
@import '../../common/fonts/inter';
@import '../../common/fonts/fontawesome';


html, body {
    margin: 0px;
    font-family: 'Inter';
    user-select: none;
    height: 100%;
    overflow: hidden;
    background-color: $color-grey-50;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#log {
    flex-grow: 0;
    height: 200px;
    width: 100%;
    overflow: auto;

    table {
        width: 100%;
        border-spacing: 0px;
        table-layout: fixed;
        position: relative;

        th {
            padding: 5px;
            background: $color-grey-800;
            color: $color-grey-100;
            position: sticky;
            top: 0px;
        }

        tr:nth-child(even) {
            background-color: $color-grey-300;
        }

        tr:nth-child(odd) {
            background-color: $color-grey-100;
        }

        td {
            padding: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .col-timestamp {
            width: 250px;
            text-align: center;
        }

        .col-msg {
            text-align: left;
        }
    }
}

#disconnected {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;

    .form {
        padding: 1em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: center;

        & > * {
            &:nth-child(odd) {
                justify-self: right;
            }

            &:last-child {
                display: flex;

                & > * {
                    flex-grow: 1;
                    margin: 2px;
                }
            }
        }
    }

    .discovery {
        position: relative;
        padding: 1em;

        table {
            max-width: 500px;
            width: 500px;
            border-spacing: 0px;

            th {
                padding: 5px;
                background: $color-grey-800;
                color: $color-grey-100;
                position: sticky;
                top: 0px;
            }

            tr:nth-child(even) {
                background-color: $color-grey-300;
            }

            tr:nth-child(odd) {
                background-color: $color-grey-100;
            }

            td {
                padding: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .col-sel {
                width: 50px;
                text-align: center;
            }
        }

        & > *:last-child {
            display: flex;
            margin-top: 5px;

            button {
                flex-grow: 1;
                margin-right: 5px;
            }

            input {
                width: 2em;
                margin-left: 5px;
            }
        }
    }
}

#connected {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    width: 100%;

    .toolbar {
        display: flex;
        align-items: center;
        background-color: $color-grey-800;
        color: $color-grey-100;
        padding: 3px;

        .spacer {
            flex-grow: 1;
        }

        & > * {
            padding: 5px;
        }

        .link {
            font-weight: 600;

            &:hover {
                cursor: pointer;
            }
        }

        .selected {
            color: $color-grey-800;
            background-color: $color-grey-100;
        }
    }

    .page {
        flex-grow: 1;
        overflow: auto;

        .group {
            margin: 2em 1em 1em;
            border: 1px solid $color-grey-500;

            & > .title {
                position: relative;
                top: -0.5em;
                left: 1em;
                padding: 0.5em;
                background-color: $color-grey-800;
                color: $color-grey-100;
                font-weight: 600;
            }
        }

        .grid {
            margin: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fit, 150px 200px 40px);
            grid-column-gap: 5px;
            grid-row-gap: 1em;
            align-items: center;
            justify-content: center;

            & > *:nth-child(3n+1) {
                justify-self: end;
            }
        }

        table.users {
            width: 100%;

        }



    }
}
