[report]
show_missing = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ValueError
    if sys.platform == 'win32':

[run]
include =
    ../src_py/*
omit =
    ../src_py/hat/doit/*
