@import 'color';


%table-grid, table.grid {
    table-layout: fixed;
    border-spacing: 0px;
    width: 100%;
    border: 1px solid $color-grey-400;

    td:not(:last-child) {
        border-right: 1px solid $color-grey-300;
    }

    thead tr, tfoot tr {
        background-color: $color-grey-200;
    }

    td, th {
        padding: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody td, tfoot td {
        border-top: 1px solid $color-grey-400;
    }

    input {
        width: 100%;
    }

    input[type=text] {
        position: relative;
        border: 1px;
    }

    tfoot td > div {
        display: flex;

        & > .spacer {
            flex-grow: 1;
        }
    }

    .invalid {
        background-color: rgba(red, 0.2);
    }
}
